body {
  background-image: url("../images/Background.png");
}

.main_logo {
  width: 10%;
  margin-top: 30px;
}

.cyclist {
  width: 7%;
}

#map {
  height: 480px;
  width: 1024px;
}

.container {
  margin-top: 30px;
  margin-bottom: 60px;
}

.col-6 .main_logo {
  height: 220px;
  width: 400px;
}

.col-4 {
  margin-top: 40px;
}
.text {
  color: white;
  font-family: "Saira";
  font-style: normal;
  font-weight: 800;
  font-size: 64;
}

p {
  font-family: "Saira";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: white;
  margin-top: 30px;
}

.col-4 .btn {
  background-color: orange;
  color: white;
  margin-top: 50px;
}

.routes {
  background-color: #006db0;
  border-radius: 124px;
  height: 617px;
  width: 1278px;
}

.popular_routes {
  margin-top: 100px;
  margin-bottom: 100px;
}
.dots {
  color: #ffffff;
  margin-bottom: 50px;
}
.popular {
  color: #ffffff;
  margin-bottom: 30px;
  font-family: "Saira";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110.9%;
}

.col-6 .card {
  width: 246.64px;
  height: 246px;
  border-radius: 65px;
}

.col-6 .main_logo {
  width: 605px;
  height: 388px;
}

/*.col-2 .btn {
  width: 100px;
  background-color: blue;
} */
