body {
  background-image: url("../images/Background.png");
}

.main_logo {
  width: 10%;
}

.cyclist {
  width: 7%;
}

#map {
  height: 480px;
  width: 1024px;
}

.container {
  margin-top: 30px;
  margin-bottom: 60px;
}

.col-6 .main_logo {
  height: 220px;
  width: 400px;
}

.text,
p {
  color: white;
}

.btn {
  background-color: orange;
  color: white;
}

.routes {
  background-color: blue;
  border-radius: 3%;
}

.popular_routes {
  margin-top: 100px;
  margin-bottom: 100px;
}
.points {
  color: #ffffff;
  margin-bottom: 30px;
}
.popular {
  font-size: medium;
  color: #ffffff;
  margin-bottom: 30px;
}

.card {
  height: 150px;
}
