/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");

/* || ANIMATIONS */
@keyframes bouncing {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
@keyframes scrolling {
  0% {
    transform: translate(95%);
  }
  100% {
    transform: translate(-100%);
  }
}

/* || RESETS */
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

/* || GLOBAL */
body {
  background-image: url("../images/Background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Saira", sans-serif;
}
.container {
  margin-bottom: 100px;
}
.collapsible {
  background-color: #1285cc;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.active,
.collapsible:hover {
  background-color: #137dbe;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #1285cc;
  width: 100%;
  border-radius: 5px;
  padding: 24px;
  margin-top: -8px;
}

/* || CUSTOM STYLES */
/* HEADER */
.main-logo {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 360px;
  height: 44px;
}

/* MAIN SECTION */
.main-title {
  color: white;
}
.main-text {
  font-size: 20px;
  line-height: 31px;
  color: white;
  margin-top: 30px;
}
.start-btn {
  width: 175px !important;
  height: 57px;
  background-color: #e87308 !important;
  margin-top: 10px !important;
  animation-name: bouncing !important;
  animation-iteration-count: infinite !important;
  animation-duration: 2s;
}
.start-btn:hover {
  background-color: #e89446 !important;
  animation: none;
}
#landingImage {
  width: 80% !important;
  height: auto !important;
}


/* RESULTS */
.search {
  margin-left: 10px;
}

/* LOCATION */
.address {
  margin-top: 20px;
  font-size: 16px;
}
.address-text {
  font-size: 16px;
  line-height: 31px;
  color: white;
  margin-top: 30px;
}
.results {
  background: linear-gradient(#0c639b, #2e85cc);
  margin-top: 15px;
  border-radius: 5px;
}

/* WEATHER */
h3 {
  font-size: 16px;
}

/* BIKE BUDDY LOGO */
#sideLogo {
  width: 160px;
  position: fixed;
  bottom: 90px;
  display: flex;
  margin-left: 1%;
  position: absolute;
  cursor: pointer;
}

/* MAP */
#map {
  height: 90vh;
  border-radius: 5px;
}

/* MODALS */
#greyScreen {
  background-color: grey;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: fixed;
  top: 0px;
  display: none;
}
#modal1 {
  position: fixed;
  background-color: #fefefe;
  top: 77px;
  right: 90px;
  padding: 15px;
  border-radius: 5px;
  display: none;
  
}
#modal2 {
  position: fixed;
  background-color: #fefefe;
  top: 300px;
  right: 230px;
  padding: 15px;
  border-radius: 5px;
  display: none;
}
#modal3 {
  position: fixed;
  background-color: #fefefe;
  top: 177px;
  right: 40px;
  padding: 15px;
  border-radius: 5px;
  display: none;
}
#modal4 {
  position: fixed;
  background-color: #fefefe;
  bottom: 30px;
  right: 70px;
  padding: 15px;
  border-radius: 5px;
  display: none;
}
#modal5 {
  position: fixed;
  background-color: #fefefe;
  top: 177px;
  left: 360px;
  padding: 15px;
  border-radius: 5px;
  display: none;
}
#modal1:hover,
#modal2:hover,
#modal3:hover,
#modal4:hover,
#modal5:hover {
  background-color: #ececec;
  cursor: pointer;
}

/* SCROLL TIPS */
.scroll_sec {
  position: fixed;
  width: 100%;
  height: 2.75vh;
  display: flex;
  overflow: hidden;
  bottom: 1px;
}
.scroll_tips {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: white;
}
h4 {
  position: absolute;
  animation: scrolling 30s linear infinite;
  font-size: 14px !important;
}
.icon {
  height: 2rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* || MEDIA QUERIES */
/* LARGE */
@media screen and (max-width: 1600px) and (min-device-width: 900px) {
  .main-logo {
    margin-top: 60px;
    margin-bottom: 0px;
    width: 360px;
    height: 44px;
  }
  .main-title {
    font-size: 40px;
  }
  .main-text {
    font-size: 15px;
  }
  #landingImage {
    width: 100% !important;
  }
  .scroll_sec {
    height: 3.75vh;
  }
}

/* MEDIUM */
@media only screen and (max-width: 768px) {
  .main-logo {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 260px;
    height: auto;
  }
  #landingPage {
    scale: 0.7;
    margin-top: -180px;
  }
  #landingImage {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 400px !important;
    height: auto !important;
    top: -470px;
    left: -100px;
  }
  #map {
    height: 50vh;
    margin: 0px 10px;
  }
  .results {
    background: transparent;
  }
  .content {
    font-size: 13px;
  }
  #address {
    margin: 0;
  }
  #address_title {
    margin: 10px;
    font-size: 16px;
  }
  h3 {
    font-size: 13px;
  }
  h3 img {
    display: none;
  }
  #sideLogo {
    scale: 0.6;
    bottom: 10px;
  }
  .scroll_sec {
    display: none;
  }
}
